<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button (click)="pageEditarDados()">
        <ion-icon name="md-contacts"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Home page</ion-title>
      <ion-buttons end>
        <button ion-button (click)="logout()">
          <ion-icon name="log-out"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <p><ion-icon name="md-at"></ion-icon> --- >  veja o que ta rolando sobre qualquer assunto do seu interesse</p>
    <br>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="novoPost()">Postar</button>
        <button ion-button block (click)="pageVerMeuPost()" >Ver meus Posts</button>
        <button ion-button block (click)="pageAllPost()" >Posts da Galera</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form #pesquisar="ngForm">
    <ion-item>
      <strong>Pesquise por uma determinada # </strong>
      <ion-label color="primary" floating># pesquisar por</ion-label>
      <ion-input #pesquisa type="text"></ion-input>
    </ion-item>
    <button ion-button block (click)="pesquisarHashTag(pesquisa.value)">Pesquisar por HashTag</button>
  </form>

  <div *ngIf="posts != null">

    <div *ngIf="posts.length == 0">
      <p>nada encontrado ! pesquise por outra # </p>
    </div>

    <ion-grid *ngIf="posts.length != 0">
      <p>Encontramos esses resultados para a pesquisa</p>
      <ion-row col-12 *ngFor="let post of posts" >
        <ion-item>
          <h2>HashTag: {{ post.hashtag }} </h2>
          <p>Local: <strong>Santa Maria</strong> </p>
        </ion-item>
        <ion-card-content>
          <p>Whisper: {{ post.post_ }} </p>
        </ion-card-content>
        <ion-item *ngIf="post.imagem != null" >
          <ion-card item-start>
            <img src="{{ post.imagem }}" />
          </ion-card>
        </ion-item>
        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="thumbs-up"></ion-icon>
              <div (click)="modalReagir(post.idPost)">Reagir</div>
            </button>
          </ion-col>

          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="text"></ion-icon>
              <div (click)="modalComentar()">Comentar</div>
            </button>
          </ion-col>
        </ion-row>
        <ion-row col-12 *ngIf="cardComentar">
          <ion-col col-12>
            <ion-card col-12 >
              <ion-item>
                <ion-label color="primary" floating>Comentário:</ion-label>
                <ion-input [(ngModel)]="comentarioPost.comentario" name="comentario"  type="text"></ion-input>
              </ion-item>
              <ion-item>
                <button ion-button color="secondary" (click)="comentarPost(post.idPost)" >Comentar</button>
              </ion-item>
            </ion-card>
          </ion-col>
        </ion-row>

      </ion-row>
      <button ion-button full (click)="limparPesquisa()" >Pesquisa Novamente</button>
    </ion-grid>
  </div>
</ion-content>
